
<div class="boats col-md-6 col-sm-12 col-xs-12">
	<% boats.each(function (boat) { %>
		
		<div class="container boat-profile">
			<div class="col-xs-2 col-sm-2 col-md-2">
				<img src="<%= boat.escape('boat_photo_url') %>" alt="" class="img-rounded img-responsive" />
			</div>
				
			<div class="col-sm-2 col-md-2">
				<h1><%= boat.escape('title') %></h1>	
					
				
				<div class="price">
					<i class="glyphicon glyphicon-usd"><%= boat.escape('price') %></i>
				</div>
				<a href="#/boats/<%= boat.escape('id')%>" class="btn btn-success" id="reserve-btn"><span class="glyphicon glyphicon-calendar"></span>Reserve Me</a>
			</div>
			<div class="col-sm-4 col-md-4" ">
				
				<%= boat.escape('location') %>  <i class="glyphicon glyphicon-map-marker"></i>
				<p> <i class="glyphicon glyphicon-envelope"></i><%= boat.escape('username') %>
					<br/>  	
					<%= boat.escape('description') %>
					<br/> Added: <%= boat.escape('created_at') %></p>
				</div>
			</div>
	
 
	    
			<% }); %>
		</div>



		
