
<div class="photo-show">
	<img src="<%= boat.escape('boat_photo_url') %>" alt="" class="img-responsive" />
	<div class="user">
		<i class="glyphicon glyphicon-envelope"> <%= boat.escape('username') %></i>
	</div>	
	<div class="price">
		$<%= boat.escape('price') %>	
	</div>	
			
</div>

<div class="col-lg-4 col-md-6">
	<h4><%= boat.escape('title') %></h4> 
</div>


	
<div class="col-xs-12">
	<%= boat.escape('description') %>
</div>
	
	
	

	
	
	
<div class="col-xs-12 reservations">
	<div class="message"></div>
	<div class="input-group input-daterange"> 
		<input type="text" class="input-sm form-control" id="start" placeholder="Start Date"> 
		<span class="input-group-addon">to</span> 
		<input type="text" class="input-sm form-control" id="end" placeholder="End Date">
		<span class="input-group-btn">
			<button class="btn btn-default input-sm" type="button" id="reserve-btn">Reserve Me!</button>
		</span> 
	</div> 
</div>
</div>
