<div class="container boats">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="#" class="thumbnail">
				<img src="<%= boat.escape('boat_photo_url') %>" alt="" class="img-rounded img-responsive" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6" ">
				<p><%= boat.escape('title') %></p> <small><cite title="Source Title"><%= boat.escape('location') %>  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
			<p> <i class="glyphicon glyphicon-envelope"></i> <%= boat.escape('username') %>
		
	</div>
		<div class="price"><i class="glyphicon glyphicon-usd"><%= boat.escape('price') %></i></div>
	

			<br/>  	
			<%= boat.escape('description') %>
	
		</div>
	
	<div class="col-xs-12">
		<div class="message"></div>
		<div class="input-group input-daterange"> 
			<input type="text" class="input-sm form-control" id="start" placeholder="Start Date"> 
			<span class="input-group-addon">to</span> 
			<input type="text" class="input-sm form-control" id="end" placeholder="End Date">
			<span class="input-group-btn">
				<button class="btn btn-default input-sm" type="button" id="reserve-btn">Reserve Me!</button>
			</span> 
		</div> 
	</div>
</div>
