
<div class="col-lg-4 col-md-6 col-sm-12 container boat-profile">
	<div class="photo">
		<img src="<%= boat.escape('boat_photo_url') %>" alt="" class="img-responsive" />
	</div>
			
	<div class="col-lg-12 col-md-12">
		<h4><%= boat.escape('title') %></h4>	
	</div>
			
			
	<div class="price col-lg-6">
		<i class="glyphicon glyphicon-usd"><%= boat.escape('price') %></i>
		<i class="glyphicon glyphicon-envelope"> <%= boat.escape('username') %></i>
		<a href="#/boats/<%= boat.escape('id')%>" class="btn btn-success" id="reserve-btn"><span class="glyphicon glyphicon-calendar"></span>Reserve Me</a>
	</div>
		
	
	<div class="col-xs-12">
		<%= boat.escape('description') %>
	</div>
	
	
	
	<div class="col-xs-12 reservations">
		<div class="message"></div>
		<div class="input-group input-daterange"> 
			<input type="text" class="input-sm form-control" id="start" placeholder="Start Date"> 
			<span class="input-group-addon">to</span> 
			<input type="text" class="input-sm form-control" id="end" placeholder="End Date">
			<span class="input-group-btn">
				<button class="btn btn-default input-sm" type="button" id="reserve-btn">Reserve Me!</button>
			</span> 
		</div> 
	</div>
</div>
