<!DOCTYPE html>
<html>
<head>
	<title>WAKEbnb</title>
	<%= stylesheet_link_tag    'application', media: 'all'%>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
 
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
		 
	<script type="text/javascript" 
		src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>">
	</script>
	
	<script>
		var CURRENT_USER_ID = "<%= current_user.try(:id) %>";
		var CURRENT_USER_NAME ="<%= current_user.try(:username) %>"
		$(WAKEbnb.initialize);
	</script>
	
	<script type="text/javascript src="js/bootstrap-datepicker.js"></script> 
	
	</head>
	<body>
		<div class="row">
			<%= render partial: "layouts/header" %>
		</div>

		
	  
		<div id="backdrop" class="container"> 
		  
			<div id="map-canvas"></div>
			
			<div id="main" class="container">
				<%= yield %>
			</div>
		</div>


	</body>
</html>
