<!DOCTYPE html>
<html>
<head>
	<title>WAKEbnb</title>
	<%= stylesheet_link_tag    'application', media: 'all'%>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<script>
		var CURRENT_USER_ID = "<%= current_user.try(:id) %>";
		$(WAKEbnb.initialize);
	</script>
	
	<script type="text/javascript src="js/bootstrap-datepicker.js"></script> 
	
</head>
<body>
	<div class="row">
		<%= render partial: "layouts/header" %>
	</div>

	<div class="backdrop">
		<div class="row body">
			<div id="main" class="container">
				<%= yield %>
			</div>
		</div>
	</div>
	

</body>
</html>
